@font-face {
  font-family: "cairo", sans-serif;
  src: url(../fonts/cairo/Cairo-Bold.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "cairo", sans-serif;
  src: url(../fonts/cairo/Cairo-Medium.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "cairo", sans-serif;
  src: url(../fonts/cairo/Cairo-Regular.woff2);
  font-weight: 500;
}
*{
  font-family: "cairo", sans-serif;
}